lead_gen_metric_calculator.yml
id: leag_gen_metric_scheduler
namespace: attempt-lead-gen

tasks:
  - id: dB-wholistic-score-calculator
    type: io.kestra.plugin.scripts.python.Script
    containerImage: localhost:5000/ytdatapersistor
    script: "import math,json, psycopg2\r

      from kestra import Kestra\r

      \r

      \r

      with open(\"{{outputs.loadObject.outputFiles['objectHold.json']}}\", \"r\") as f:\r

      \    olddata = json.load(f)\r

      reformedData = olddata[0]\r

      \r

      conn = psycopg2.connect(\r

      \    host='host.docker.internal',\r

      \    port=5432,\r

      \    database = 'loanMarketingDb',\r

      \    password='k3str4',\r

      \    user='kestra'\r

      \    )\r

      \r

      cur = conn.cursor()\r

      \r

      \r

      \r

      phone_number = reformedData.get(\"phone_number\") or None\r

      public_email = reformedData.get(\"public_email\") or None\r

      \r

      \r

      # compute score here in Python\r

      followers = int(reformedData.get(\"follower_count\", 0) or 0)\r

      media = int(reformedData.get(\"media_count\", 0) or 0)\r

      is_business = 1 if reformedData.get(\"is_business\", \"\").lower() in (\"true\",\"1\",\"yes\",\"y\") else 0\r

      has_email = 1 if reformedData.get(\"public_email\") else 0\r

      \r

      score = min(100, \r

      \    (0.6 * (math.log1p(followers)/10)) +\r

      \    (0.3 * (math.log1p(media)/5)) +\r

      \    (10.0 * has_email) +\r

      \    (12.0 * is_business)\r

      )\r

      reformedData['score'] = score\r

      reformedData['phone_number'] = phone_number\r

      reformedData['public_email'] = public_email\r

      reformedData['sme_sector'] = 'Gadgets'\r

      sme_val = 'Gadgets'\r

      \r

      cur.execute(\"\"\"\r

      \    CREATE TABLE IF NOT EXISTS generalMarketTable (\r

      \        id SERIAL PRIMARY KEY,\r

      \        username TEXT,\r

      \        userID TEXT,\r

      \        full_name TEXT,\r

      \        is_verified TEXT,\r

      \        is_business TEXT,\r

      \        is_private TEXT,\r

      \        follower_count TEXT,\r

      \        following_count TEXT,\r

      \        Biography TEXT,\r

      \        media_count TEXT,\r

      \        external_url TEXT,\r

      \        is_whatsapp_linked TEXT,\r

      \        is_memorialized TEXT,\r

      \        is_new_to_instagram TEXT,\r

      \        public_email TEXT,\r

      \        phone_number TEXT,\r

      \        sme_sector TEXT,\r

      \        score_rating NUMERIC(5,2)\r

      \r

      \    )\r

      \"\"\")\r

      \r

      \r

      \r

      cur.execute(\"\"\"\r

      \    INSERT INTO generalMarketTable (\r

      \    username,\r

      \    userID,\r

      \    full_name,\r

      \    is_verified,\r

      \    is_business,\r

      \    is_private,\r

      \    follower_count,\r

      \    following_count,\r

      \    Biography,\r

      \    media_count,\r

      \    external_url,\r

      \    is_whatsapp_linked,\r

      \    is_memorialized,\r

      \    is_new_to_instagram,\r

      \    public_email,\r

      \    phone_number,\r

      \    sme_sector,\r

      \    score_rating\r

      \    ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)\r

      \"\"\",\r

      \    (reformedData['username'],reformedData['userID'],\r

      \     reformedData['full_name'],reformedData['is_verified'],\r

      \     reformedData['is_business'],reformedData['is_private'],\r

      \     reformedData['follower_count'],reformedData['following_count'],\r

      \     reformedData['Biography'],reformedData['media_count'],\r

      \     reformedData['external_url'],reformedData['is_whatsapp_linked'],\r

      \     reformedData['is_memorialized'],reformedData['is_new_to_instagram'],\r

      \     public_email,phone_number,sme_val,score))\r

      conn.commit()\r

      \r

      cur.close()\r

      conn.close()\r

      \r

      Kestra.outputs({'reformedData':reformedData})"


